
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.logo {
  opacity: 0;
  animation: f 5s ease-in-out forwards;
}
@keyframes f {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
